<div class="container-fluid">
  <div class="container mt-5">

    <div class="row mb-5">
      <h4 class="col-6">
        {{currentCar.name}}
        <small>{{currentCar.model}}</small>
      </h4>

      <div class="offset-3 col-3 d-flex justify-content-around">
        <button class="btn btn-danger" (click)="carSelect('bmw')">BMV</button>
        <button class="btn btn-success" (click)="carSelect('audi')">Audi</button>
        <button class="btn btn-info" (click)="carSelect('mer')">Mercedes</button>
      </div>
    </div>

    <div class="row mb-4">
      <section class="col-6">
        <h5 class="mb-3">Car characteristics</h5>

        <div class="alert alert-success">
          <ul>
            <li>Speed: <strong>{{currentCar.speed}}</strong> km</li>

            <li>Auto color:
              <strong>{{currentCar.colors.car}}</strong>
            </li>

            <li>Salon color:
              <strong>{{currentCar.colors.salon}}</strong>
            </li>

            <li>Wheels color:
              <strong>{{currentCar.colors.wheels}}</strong>
            </li>
          </ul>
        </div>
      </section>

      <section class="col-6">
        <h5 class="mb-3">Car possibilities</h5>

        <div class="alert alert-warning">
          <ul>
            <li *ngFor="let opt of currentCar.options; let i = index">
              {{i + 1}} - {{opt}}
            </li>
          </ul>
        </div>
      </section>
    </div>

    <div class="row">
      <section class="col-6">
        <form *ngIf="updateForm">
          <h5>Update car</h5>

          <div class="row">
            <div class="mb-3 col-6">
              <label class="form-label" for="model">Model</label>
              <input type="text" id="model" placeholder="Enter model" class="form-control"
                     [(ngModel)]="currentCar.model" name="model">
            </div>

            <div class="mb-3 col-6">
              <label class="form-label" for="speed">Speed</label>
              <input type="text" id="speed" placeholder="Enter speed" class="form-control"
                     [(ngModel)]="currentCar.speed" name="speed">
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-6">
              <label class="form-label" for="carColor">Car color</label>
              <input type="text" id="carColor" placeholder="Enter car color" class="form-control"
                     [(ngModel)]="currentCar.colors.car" name="colors.car">
            </div>

            <div class="mb-3 col-6">
              <label class="form-label" for="salonColor">Salon color</label>
              <input type="text" id="salonColor" placeholder="Enter salon color" class="form-control"
                     [(ngModel)]="currentCar.colors.salon" name="colors.salon">
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-6">
              <label class="form-label" for="wheelsColor">Wheels color</label>
              <input type="text" id="wheelsColor" placeholder="Enter wheels color" class="form-control"
                     [(ngModel)]="currentCar.colors.wheels" name="colors.wheels">
            </div>
          </div>
        </form>

        <button type="button" class="btn btn-outline-primary" (click)="switchUpdateForm()">Show update form</button>
      </section>

      <section class="col-6">
        <div class="row">
          <form class="col-6" (submit)="addOpt(newOption.value)">
            <div class="form-group">
              <label for="newOption" class="h5">Add new possibility</label>
              <input type="text" id="newOption" placeholder="Enter something"
                     class="form-control mt-3 mb-3" #newOption>
              <button type="submit" class="btn btn-outline-success">Add</button>
            </div>
          </form>

          <form class="col-6" (submit)="removeOpt(removeOption.value)">
            <div class="form-group">
              <label for="removeOption" class="h5">Remove possibility</label>
              <input type="text" id="removeOption" placeholder="Enter something"
                     class="form-control mt-3 mb-3" #removeOption>
              <button type="submit" class="btn btn-outline-danger">Remove</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
